{{ define "header" }}
<header>
    <h1>Vinylfo</h1>
    <nav class="main-nav">
        <div class="nav-links">
            <div class="nav-item">
                <a href="/">Music</a>
                <div class="dropdown">
                    <a href="/#albums">Albums</a>
                    <a href="/#tracks">Tracks</a>
                </div>
            </div>
            <div class="nav-item">
                <a href="/player">Player</a>
                <div class="dropdown">
                    <a href="/playlist">Playlists</a>
                    <a href="/#sessions">Sessions</a>
                </div>
            </div>
            <div class="nav-item">
                <a href="/">Sync</a>
                <div class="dropdown">
                    <a href="/sync">Discogs</a>
                    <a href="/youtube">YouTube</a>
                    <a href="/resolution-center">Resolution Center</a>
                </div>
            </div>
            <div class="nav-item">
                <a href="/">Search</a>
                <div class="dropdown">
                    <a href="/search">Discogs</a>
                </div>
            </div>
            <a href="/settings">Settings</a>
        </div>
    </nav>
</header>
{{ end }}
